table {
    border-collapse: collapse;
    width: 30%;
    margin-bottom: 50px;
}

th,
td {
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: normal;
    font-size: .875rem;
    color: #666;
    background: #eee;
    position: sticky;
    top: 0;
}

@media(max-width: 500px) {
    .heading {
        display: none;
    }
    td {
        display: block;
    }
}