.container {
    width: 1200px;
    height: 50px;
    background: green;
    position: relative;
    margin: 100px auto auto;
    text-align: center;
}

.container-beat-up {
    width: 500px;
    height: 50px;
    background: green;
    position: relative;
    margin: 100px auto auto;
    text-align: center;
}

.box {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
}

#position-space {
    width: 200px;
    height: 50px;
    background: #99FF00;
    position: absolute;
    margin-left: 750px;
}

.position-space-beat-up {
    width: 80px;
    height: 50px;
    background: #99FF00;
    position: absolute;
    margin-left: 330px;
}

body {
    background-image: url('../images/background.jpeg');
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 20%;
    border: 5px solid red;
    padding: 10px;
    border-radius: 25px;
}

.score {
    font-size: 400%;
    font-weight: bold;
    color: red;
    margin-left: 1200px;
    margin-right: 100px;
    border: 5px solid red;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

.reverse {
    font-size: 250%;
    font-weight: bold;
    color: red;
    margin-left: 1200px;
    margin-right: 100px;
    text-align: center;
}

.inline {
    display: inline;
}

.margin-css {
    margin-left: 100px;
    margin-top: 50px;
    height: 100px;
    text-align: center;
}

.col-main {
    flex: 1;
    height: 30px;
}

.col-complementary {
    flex: 1;
    height: 30px;
}

@media only screen and (min-width: 640px) {
    .layout {
        display: flex;
    }
}

.bars-beat-up {
    max-width: 80em;
    margin-right: auto;
    margin-left: auto;
}

.col {
    padding: 1em;
    margin: 0 100px 2px 0;
    background: green;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}
